rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /records/{cpf} {
      // Allow any user to read and write records
      allow read, write: if true;
    }
  }
}

